*{
    margin: 0;
    padding: 0;
}

.contactInfoDialog__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        width: 100%;
        font-size: 24px;
        margin-bottom: 2rem;
        text-decoration: none;
        text-transform: capitalize;
        font-style: normal;
        font-weight: 600;
    }

    .profilePic {
        width: 7.5rem;
        height: 7.5rem;
        background-color: #333333;
        border-radius: 999px;
        position: relative;

        .avatar {
            width: 100%;
            height: 100%;
            border-radius: 999px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
        }
    }

    .wrapper {
        width: 100%;
        padding: 0 1rem;
        margin: 1rem 0;

        .inputField__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
    
            margin: 1.5rem 0;
    
            .title {
              font-size: 16px;
              font-weight: 600;
              font-style: normal;
              text-transform: capitalize;
              text-decoration: none;
    
              margin-bottom: 0.2rem;
    
              span {
                color: red;
              }
            }
    
            .input__wrapper {
              width: 100%;
              padding: 0.3rem 0.5rem;
    
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
    
              outline: none;
              border: 1px solid var(--gray-border-color);
              background-color: rgba($color: #ffffff, $alpha: 1);
    
              .icon {
                color: var(--blue-color);
                width: 20px;
                height: 20px;
                margin-right: 0.5rem;
              }
    
              .divider {
                height: 20px;
                width: 0.75px !important;
                background-color: #ccc;
                margin-right: 0.5rem;
                background-color: #007bff;
              }
    
              .textAreaDivider {
                height: 70px;
                width: 0.75px !important;
                background-color: #ccc;
                margin-right: 0.5rem;
                background-color: #007bff;
              }
    
              .input {
                width: 100%;
                padding: 0.15rem 0.25rem;
                background: transparent;
                outline: none;
                color: #666666 !important;
    
                font-size: 16px;
                // color: var(--gray-color);
                font-weight: 400;
                // text-transform: capitalize;
                text-decoration: none;
              }
    
              .textArea {
                height: 5rem;
                text-transform: none !important;
              }
            }
            
            .inputError {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              // position: absolute;
              color: red;
    
              margin-top: 0.3rem;
              margin-bottom: -0.5rem;
    
              .icon {
                width: 18px;
                margin-right: 0.25rem;
              }
    
              p {
                font-size: 14px;
                font-family: var(--font-family-1);
                font-style: normal;
                text-transform: none;
                text-decoration: none;
                font-weight: 500;
              }
            }
    
            .disabledInput__wrapper {  // for disabled input
              border: 1.5px solid var(--gray-border-color);
              background-color: rgba($color: #000000, $alpha: 0.1);
    
              .input {
                color: var(--gray-color);
              }
            }
          }
    }
}